SOAP/04_SOAP/StockPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com.example.www" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com.example.www" xmlns:intf="http://com.example.www" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com.example.www" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStockValue">
    <complexType>
     <sequence>
      <element name="tickerName" type="xsd:string" default="NonORCL"/>
      <element name="defValue" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStockValueResponse">
    <complexType>
     <sequence>
      <element name="getStockValueReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStockValueRequest">

      <wsdl:part element="impl:getStockValue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStockValueResponse">

      <wsdl:part element="impl:getStockValueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StockPrice">

      <wsdl:operation name="getStockValue">

         <wsdl:input message="impl:getStockValueRequest" name="getStockValueRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStockValueResponse" name="getStockValueResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockPriceSoapBinding" type="impl:StockPrice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStockValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStockValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStockValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockPriceService">

      <wsdl:port binding="impl:StockPriceSoapBinding" name="StockPrice">

         <wsdlsoap:address location="http://localhost:8080/CodeFirstApproach/services/StockPrice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
