SOAP/04_SOAP/contractfirst/StockPrice_document.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/StockPrice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockPrice" targetNamespace="http://www.example.org/StockPrice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/StockPrice/">
      <xsd:element name="StockTickerPrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StockTickerPriceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StockTickerPriceRequest">
    <wsdl:part element="tns:StockTickerPrice" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="StockTickerPriceResponse">
    <wsdl:part element="tns:StockTickerPriceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="StockPrice">
    <wsdl:operation name="StockTickerPrice">
      <wsdl:input message="tns:StockTickerPriceRequest"/>
      <wsdl:output message="tns:StockTickerPriceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockPriceSOAP" type="tns:StockPrice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StockTickerPrice">
      <soap:operation soapAction="http://www.example.org/StockPrice/StockTickerPrice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockPrice">
    <wsdl:port binding="tns:StockPriceSOAP" name="StockPriceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
